<div class="column small-12 text-center">
  <a class="button primary" {{#if attr}}{{attr}}="{{key}}"{{/if}} {{#if data.link}}href="{{data.link}}"{{/if}} {{#if data.onclick}}onclick="{{data.onclick}}"{{/if}}>{{data.link-title}}</a>
</div>
