<div class="footer lt-alternate-bg-color">
    <div class="footer-inner lt-section-padding-large">
        <div class="footer-elements">
          {{>footer-branding}}
        </div>
    </div>
</div>
<div class="footer-inner legal-container lt-primary-bg-color clearfix">
  <div class="lt-content-full row lt-padding-collapse">
    <ul class="terms">
      {{#each site-settings.footer-objects}}
        {{#if link}}
          <li><a href="{{link}}" target="_blank">{{title}}</a></li>
        {{else if script}}
          <li><a onclick="{{script}}">{{title}}</a></li>
        {{else}}
          <li>{{title}}</li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
