{{#each data}}
  {{#if active}}
    <a class="card-column" status="active" href="learningPaths/{{filename}}.html">
  {{else}}
    <div class="card-column" status="inactive">
  {{/if}}
    <div class="card">
      <div class="featured-img" data-imagizer>
        <img src="{{img}}" alt=""/>
      </div>
      <h4 class="title">{{title}}</h4>
      <h5 class="description">{{short-description}}</h5>
    </div>
  {{#if active}}
    </a>
  {{else}}
    </div>
  {{/if}}
{{/each}}
